

.myphoto{
    width: 200px;
    height: 150px;
}
.site{
    
}

.site intro{

}
.site stack{

}
.site stack logos{

}
.site .stack .logos img{
    width: 150px;
    height: 150px;
}
.site .stack .large-img img{
    width: 400px;
    height: 200px;
}

.tag-cloud span {
    padding-left: 0.15em;
    padding-right: 0.15em;
    line-height: 90%;
  }